@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}

#helpMFR {
    position: absolute;
    top: 0;
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    z-index: 1;
}

#astronaut {
    margin-top: 0%;
}

.message {
    margin-left: 20px;
    background-color: #e4c665;
    color: black;
    border-radius: 5px;
}

.help-message {
    font-size: 11px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green-button {
    width: 22%;
    padding: 2px 2px;
    margin: 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #04AA6D;
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 5px #666;
}

.controllers .green-button {
    width: 15%;
}

/*.green-button:hover {background-color: #3e8e41}

.green-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.red-button {
    width: 22%;
    padding: 2px 2px;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #d12500;
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 5px #666;
}

.controllers .red-button {
    width: 15%;
}

/*.red-button:hover {background-color: #d12500}

.red-button:active {
  background-color: #d12500;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.yellow-button {
    width: 22%;
    padding: 2px 2px;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #e1b800;
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 5px #666;
}

.controllers .yellow-button {
    width: 15%;
}

/*.yellow-button:hover {background-color: #e1b800}

.yellow-button:active {
  background-color: #e1b800;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.main-value-title {
    color: #8d0308;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: help;
}

.value-type-title {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: help;
}

.value-type-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: help;
}

.customed-table {
    border-collapse: collapse;
    margin-top: 8em;
}

.value-type {
    background-color: #383b3a;
    color: #ffffff;
    text-align: center;
    width: 80px;
    height: 60px;
    cursor: help;
}

.value-processed {
    font-weight: bold;
    color: #383b3a;
    width: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.text-entry {
    border-color: #383b3a;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    width: 130px;
    resize: none;
    font-size: 10px;
}