body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon-bar {
    width: 80%;
    /* Full-width */
    overflow: auto;
    /* Overflow due to float */
    margin-inline: 10%;
    margin-top: 1%;
}

.icon-bar a {
    float: left;
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 14%;
    /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: black;
    /* White text color */
    font-size: 1vw;
    cursor: pointer;
}

.icon-bar a:hover {
    background-color: #000;
    color: white;
}

.icon-bar a:focus {
    background-color: #000;
    color: white;
    /* Add a hover color */
}

.planetPicture {
    width: 30%;
}

.quizz {
    width: 96;
    /* Full-width */
    /*overflow: auto;*/
    /* Overflow due to float */
    height: fit-content;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: seashell;
    border-radius: 10px;
    border-width: 5%;
    border-color: #000;
    border-style: double;
    padding-top: 1%;
    padding-bottom: 2%;
    overflow-x: auto;
}

.information {
    width: 100%;
    margin-left: 18%;
}

.informationGrid {
    width: 100%;
}

.informationGrid td {
    height: 100px;
}

#questionBox {
    width: 90%;
}

#questionBox p {
    width: 80%;
    font-size: 1em;
    font-weight: bold;
    overflow-wrap: break-word;
}

#astronautPicture {
    height: 150%;
    margin-top: 1%;
}

#learnMore {
    width: 12em;
    font-size: 0.8em;
    border-radius: 0.5em;
    background-color: #0b025a;
    color: white;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    width: 40%;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-color: #000;
    border-style: double;
    font-size: 1vw;
}

#learnMore:before {
    content: "\003F";
    margin-right: 10%;
    color: white;
}

.choices {
    width: 95%;
    margin-left: 15%;
    height: fit-content;
    /*padding-block: 5px;
    padding-inline: 10px;*/
}

.choice-option {
    width: 100%;
    height: fit-content;
    padding-block: 5px;
    padding-inline: 10px;
    margin-bottom: 1em;
}

.choice-level {
    width: 2em;
    font-size: 1vw;
}

.choice-description {
    font-size: medium;
    font-weight: bold;
    width: 70%;
    display: inline-block;
    padding: .5em;
    background-color: #eae8e8;
    color: #555555;
    margin-left: 2em;
    text-decoration: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0 1px #ABABAB,
        0 0 0 9px #CBCBCB,
        0 0 0 11px #fff,
        0 0 0 14px #777,
        2px 5px 15px 8px #555;
}

.choice-description:hover {
    cursor: pointer;
}

#not-applicable {
    font-size: medium;
    font-weight: bold;
    width: 70%;
    display: inline-block;
    padding: .5em;
    background-color: #000000;
    color: #ffffff;
    margin-left: 4em;
    margin-top: 1em;
    text-decoration: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0 1px #ABABAB,
        0 0 0 9px #CBCBCB,
        0 0 0 11px #fff,
        0 0 0 14px #777,
        2px 5px 15px 8px #555;
    cursor: pointer;
}

#pages {
    width: 95%;
    margin-left: 2%;
    margin-top: 1%;
    overflow-x: auto;
}

#pages td {
    background-color: #006597;
    color: #eee;
    font-size: 0.8vw;
    text-align: center;
    cursor: pointer;

}

#navigation-button-box {
    width: 80%;
    margin-inline: 20%;
}

#right-box {
    text-align: right;
}

#left-button {
    margin-left: 10%;
}

#left-button {
    margin-left: 10%;
}

#right-button {
    margin-right: 10%;
}

#cat-button{
    margin-right: 10%;
    display: none;
}

.nav-button {
    font-size: 2vw;
    width: 20%;
    background-color: #0b025a;
    color: white;
    border-radius: 0.5em;
    box-shadow: 2px 3px 3px 3px #555;
}

.nav-button:disabled {
    background-color: #353535;
    color: white;
}

.nav-button:disabled:hover {
    cursor: not-allowed; 
    background-color: #353535;
    color: white;
}

.nav-button:hover {
    background-color: #006597;
    cursor: pointer;
}

#category-title {
    font-size: 1em;
    background-color: #0b025a;
    color: #eee;
    width: 40%;
    text-align: center;
}

#pi-process-box {
    width: 20%;
    background-color: rgb(108, 108, 108);
    color: rgb(189, 189, 189);
    box-shadow: 0 0 0 3px #CBCBCB;
    padding: 5px;
    font-size: x-large;
}

.recom {
    font-size: 3em;
    margin-left: 0.5em;
    font-weight: bolder;
    color: darkgoldenrod;
    text-align: center;
}

.parameters-box {
    width: 80%;
    margin-inline: 10%;
}

.parameters-box td {
    width: 50%;
}

.parameters-box .rightBox {
    text-align: right;
}

.pill-button {
    position: relative;
    border: none;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px;
    height: fit-content;
    font-size: large;
    font-weight: bolder;
}

#mode-button{
    background-color: #002f72;
    color: #FFFFFF;
}

#application-button{
    background-color: #ffe100;
    color: #000000;
}

.pill-button:after {
    content: "";
    background: #d6d6d6;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .pill-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    overflow-y: auto;
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  #text{
    width: 80%;
    font-size: 1em;
    color: rgb(0, 0, 0);
  }

  #question-load{
      height: fit-content;
      margin-top: 2em;
      width: fit-content;
      max-width: 50em;
      max-height: 4em;
      background-color: #d6d6d6;
      color: #0b025a;
      font-size: 1em;
  }

  #copyAnswers{
      background-color: crimson;
      color: #000;
      margin-right: 5%;
  }