/*Add custom CSS here*/

/*body {background-color:#f7f5fb;}*/

.admonition.todo {
    border-left-color: rgb(55, 58, 55);
}
.admonition.todo .admonition-title {
    background-color: rgba(0, 0, 0, 0.1);
}
.admonition.todo .admonition-title:before {
    color: rgb(255, 255, 255);
    content: '\f19d';
}

.admonition.rule {
    border-left-color: rgb(151, 0, 55);
}
.admonition.rule .admonition-title {
    background-color: rgba(199, 77, 124, 0.742);
}
.admonition.rule .admonition-title:before {
    color: rgb(255, 255, 255);
    content: '\f19d';
}

.admonition.recommendation {
    border-left-color: rgb(2, 91, 76);
}
.admonition.recommendation .admonition-title {
    background-color: rgba(4, 174, 137, 0.742);
}
.admonition.recommendation .admonition-title:before {
    color: rgb(255, 255, 255);
    content: '\f19d';
}

.admonition.remark {
    border-left-color: rgb(39, 3, 78);
}
.admonition.remark .admonition-title {
    background-color: rgba(110, 41, 200, 0.814);
}
.admonition.remark .admonition-title:before {
    color: rgb(255, 255, 255);
    content: '\f19d';
}