.formula-map {
    background-color: white;
    margin-left: 100px;
    table-layout: fixed;
    width: 600px;
    height: 400px;
}

.formula-map td {
    width: 20%;
}

.map-node {
    background-color: white;
    width: 100%;

}

.central-node {
    background-color: white
}

.extra-space {
    /*padding-top: 20px;*/
    padding: auto;
}

.map-button {
    margin: 15px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #47064a;
    border: none;
    border-radius: 30px;
    width: 80%;
    height: 30px;
}

.central-button {
    margin: 15px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #0c0679;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 40px;
}

.node-button {
    margin: 15px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #7a747b;
    border: none;
    border-radius: 30px;
    width: 80%;
    height: 30px;
}

.tc-button {
    background-color: aquamarine;
    font-weight: bold;
    width: 30%;
    font-size: 6px;
    text-align: center;
}

.back-button {
    background-color: rgb(1, 1, 1);
    color: white;
    width: 100%;
    font-size: 6px;
    text-align: center;
}