input[type=range].three-choice-slider {
    -webkit-appearance: none;
    /*nécessaire pour Chrome */
    padding: 0;
    /* nécessaire pour IE */
    font: inherit;
    /* même rendu suivant font document */
    outline: none;
    color: rgb(70, 113, 134);
    /* sert pour couleur de référence, via currentColor, pour le curseur */
    opacity: .8;
    background: rgb(8, 20, 111);
    /* sert pour couleur de fond de la zone de déplacement */
    box-sizing: border-box;
    /* même modèle de boîte pour tous */
    transition: opacity .2s;
    cursor: pointer;
}

.description {
    background-color: #383b3a;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    width: 80px;
    height: 60px;
}

.description-piOP {
    background-color: #b3b3b3;
    color: #000000;
    text-align: center;
    font-size: 12px;
    width: 80px;
    height: 80px;
}

.description-value {
    font-weight: bold;
    color: #383b3a;
    margin: auto 13px;
    width: 80px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.description-value-piOP {
    font-weight: bold;
    color: #383b3a;
    margin: auto 20px;
    width: 100px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1 {
    color: #8d0308;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    }

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    }
    
h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    }

.customed-table {
    border-collapse: collapse;
}

.value-type{
    background-color: #383b3a;
    color: #ffffff;
    text-align: center;
    width: 80px;
    height: 60px;
}

.value-processed{
    font-weight: bold;
    color: #383b3a;
    width: 80px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.text-entry{
    border-color: #383b3a;
    border-radius: 5px;
    padding-left: 10px;
    width: fit-content;
}


.tcs-label {
    font-weight: bold;
    color: #009879;
    width: 100px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}