.green-button {
    padding: 5px 5px;
    margin: 5px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #04AA6D;
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 5px #666;
}

/*.green-button:hover {background-color: #3e8e41}

.green-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.red-button {
    padding: 5px 5px;
    margin: 5px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #d12500;
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 5px #666;
}

/*.red-button:hover {background-color: #d12500}

.red-button:active {
  background-color: #d12500;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.yellow-button {
    padding: 5px 5px;
    margin: 5px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #e1b800;
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 5px #666;
}

/*.yellow-button:hover {background-color: #e1b800}

.yellow-button:active {
  background-color: #e1b800;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

.main-value-title {
    color: #8d0308;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.value-type-title {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.value-type-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.customed-table {
    border-collapse: collapse;
}

.value-type {
    background-color: #383b3a;
    color: #ffffff;
    text-align: center;
    width: 80px;
    height: 60px;
}

.value-processed {
    font-weight: bold;
    color: #383b3a;
    width: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.text-entry {
    border-color: #383b3a;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    width: fit-content;
}