.myInput {
  font-family: 'Roboto', sans-serif;
  color: #333;
	margin: 10px 10px;
  padding: 5px;
  border-radius: 0.2rem;
  background-color: #cae1da;
  border: none;
  width: 40%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.scroller {
  overflow-x: scroll;
  scrollbar-color: #4FC3A1 #324960;
}


.myTable {
  border-radius: 5px;
  font-size: 10px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  overflow: auto;
}

.myTable tr {
  border-color: lighten(#34495E, 10%);
  /*width: 50px;*/
}

.myTable td, .myTable th{
  text-align: center;
  padding: 8px;
  /*width: 80px;*/
}


.myTable td {
  border-right: 1px solid #f8f8f8;
}

.full-span {
  background-color: rgb(104, 104, 104);
  color: white;
}

.myTable thead th {
  color: #ffffff;
  background: #4FC3A1;
}

.myTable thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.myTable tr:nth-child(even) {
  background: #F8F8F8;
}


.myTable tr:hover {
  background-color: #c4e4da;
}

.myTable thead th.major-head{
  color: #ffffff;
  background: #2d639a;
}


.large-table {
  border-radius: 5px;
  font-size: 10px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.large-table tr {
  border-color: lighten(#34495E, 10%);
  /*width: 50px;*/
}

.large-table td, .large-table th{
  text-align: left;
  padding: 8px;
  /*width: 80px;*/
}


.large-table td {
  border-right: 1px solid #f8f8f8;
}

.large-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}

.large-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.large-table tr:nth-child(even) {
  background: #F8F8F8;
}


.large-table tr:hover {
  background-color: #c4e4da;
}

.fa-star-o:before{content:"\f006"}