/*Add custom CSS here*/

/*body {background-color:#f7f5fb;}*/

.admonition.todo {
    border-left-color: rgb(55, 58, 55);
}
.admonition.todo .admonition-title {
    background-color: rgba(0, 0, 0, 0.1);
}
.admonition.todo .admonition-title:before {
    color: rgb(200, 0, 0);
    content: '⚠';
}

.admonition.rule {
    border-left-color: #73163a;
}
.admonition.rule .admonition-title {
    background-color: #C74D7C;
    color: #050A05;
}
.admonition.rule .admonition-title:before {
    color: #050A05;
    content: '\f197';
}

.admonition.recommendation {
    border-left-color: #5b5511;
}
.admonition.recommendation .admonition-title {
    background-color: #C7BE61;
    color: #000000;
}
.admonition.recommendation .admonition-title:before {
    color: #000000;
    content: '\f091';
}

.admonition.remark {
    border-left-color: #390f1f;
}
.admonition.remark .admonition-title {
    background-color: #7A2345;
    color: #FFFFFA;
}
.admonition.remark .admonition-title:before {
    color: #FFFFFA;
    content: '\f0a4';
}

.admonition.equation {
    border-left-color: #0d3c47;
}
.admonition.equation .admonition-title {
    background-color: #2A6C7A;
    color: #FFFFFA;
}
.admonition.equation .admonition-title:before {
    color: #FFFFFA;
    content: '\f12b';
}