.myTable {
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  /*white-space: nowrap;*/
  background-color: white;
  overflow: auto;
}

#misc-table4-8 {
  font-size: 10px;
}

.myTable tr {
  border-color: lighten(#34495E, 10%);
  /*width: 50px;*/
}

.myTable td, .myTable th{
  text-align: center;
  padding: 8px;
  /*width: 80px;*/
}


.myTable td {
  border-right: 1px solid #f8f8f8;
}

.full-span {
  background-color: rgb(104, 104, 104);
  color: white;
}

.myTable thead th {
  color: #ffffff;
  background: #362b48;
}

.myTable thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.myTable tr:nth-child(even) {
  background: #F8F8F8;
}


.myTable tr:hover {
  background-color: #9dc3e1;
}

.myTable thead th.major-head{
  color: #ffffff;
  background: #362b48;
}

.myTable thead td.row-header{
  color: #ffffff;
  background: #362b48;
}


.myTable td.main-question{
  text-align: left;
}

.easy-table {
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  /*white-space: nowrap;*/
  background-color: white;
  overflow: auto;
}

.easy-table tr {
  border-color: lighten(#34495E, 10%);
  /*width: 50px;*/
}

.easy-table td, .easy-table th{
  text-align: center;
  padding: 8px;
  /*width: 80px;*/
}


.easy-table td {
  border-right: 1px solid #f8f8f8;
}

.easy-table thead th {
  color: #ffffff;
  background: #74a0c1;
}

.easy-table thead th.major-head{
  color: #ffffff;
  background: #2d639a;
}

.easy-table thead td.row-header{
  color: #ffffff;
  background: #2d639a;
}


.easy-table td.main-question{
  text-align: left;
}

.table {
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  /*white-space: nowrap;*/
  background-color: white;
  overflow: auto;
}

.table tr {
  border-color: lighten(#34495E, 10%);
  /*width: 50px;*/
}

.table td, .table th{
  text-align: center;
  padding: 8px;
  /*width: 80px;*/
}

.table td {
  border-right: 1px solid #f8f8f8;
  text-align: left;
}

.table thead th {
  border-color: lighten(#ffffff, 10%);
  background: #362b48;
}

.table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.head p {
  color: #ffffff;
}

.table tr:nth-child(even) {
  background: #F8F8F8;
}


.table tr:hover {
  background-color: #9dc3e1;
}

.table thead th.major-head{
  color: #ffffff;
  background: #2d639a;
}