/*Add custom CSS here*/
body {background-color: coral;}

.my-custom-class.admonition {
    border-left-color: rgba(0, 246, 16, 1);
}
.admonition-extra-credit .admonition-title {
    background-color: rgba(0, 246, 16, .1);
}
.admonition-extra-credit .admonition-title:before {
    color: rgba(0, 246, 16, 1);
    content: '\f19d';
}